.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my css */
.btn {
  border-top-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom: 7px solid rgb(255, 123, 0);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0px;
}
.btn:hover {
  color: #282c34;
}

.maincont {
  border-radius: 10px solid black;
}
/* for footer  */

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  /* position: fixed; */
  z-index: 0;
  width: 100%;
  bottom: 0;
}
